# AWS credentials and secrets
*.pem
*.key
*.crt
.env
.env.*
.aws/
credentials
config
aws_access_key*
secret*
secrets/
*.secret
*.secrets
secret.env

# Local key folders
keys/

# Python/cache files
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log
